.buttonStyle {
  width: 120px;
}
.detailText {
  font-size: 1.17em;
}
.imageBox {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}
.statusText {
  color:red;
}

.row {
  display: flex;
  flex-wrap: wrap;
}
.reactionRow{
  display: flex;
}

.reactionItem{
  display: flex;
  margin-right: 40px;
}
.reactionItem img{
  margin-right: 10px;
  margin-top: 3px;
}
.squareIcon {
  width: 25px;
  height: 25px;
}

.countNumber {
  font-size: 1.5em;
}

.requestIcon {
  width: 40px;
  height: 20px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

:global {
  .ant-col-8 > span {
    font-weight: 500;
    color: black;
  }
}
