.imageBox {
    text-align: center;
    padding: 20px;
}

.buttonStyle {
    width: 120px;
}

.avatarStyle {
  width: 300px;
  height: 300px;
}

.statusText {
  color:red;
}

.inforBox {
  padding-left: 40px;
}

:global {
  .ant-col-12 > span {
    font-weight: 500;
    color: black;
  }
}
