<?xml version="1.0" encoding="utf-8"?>
<RelativeLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:local="http://schemas.android.com/apk/res-auto"
    android:layout_width="match_parent"
    android:layout_height="wrap_content"
	android:background="@drawable/popup_bg"
	android:gravity="center"
    android:orientation="vertical">

	<TextView
        android:id="@+id/MyRequestPopupTitle"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:layout_marginTop="@dimen/large_margin"
        android:fontFamily="@font/sanfranciscodisplay_regular"
        android:textAlignment="center"
        android:textColor="@color/black"
        android:textSize="@dimen/popup_request_Title_Text_Size"
        local:MvxBind="Text MyRequestPopupTitle"/>

	<ImageButton
        android:layout_width="@dimen/btn_normal_size"
        android:layout_height="@dimen/btn_normal_size"
        android:layout_alignParentRight="true"
        android:layout_margin="@dimen/large_margin"
        android:background="@null"
        android:scaleType="fitXY"
        android:src="@drawable/btn_delete_photo"
        android:tint="@color/gray" 
		local:MvxBind="Click CloseCommand"/>

	<TextView
        android:id="@+id/tvSentTo"
		android:layout_below="@+id/MyRequestPopupTitle"
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
		android:layout_marginTop="@dimen/big_margin"
        android:layout_marginLeft="@dimen/huge_margin"
        android:gravity="center"
        android:textColor="@color/dark_gray"
        android:textSize="@dimen/MediumTextSize"
        local:MvxBind="Text SentTo" />

	<TextView
        android:id="@+id/tvGiverFullName"
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:layout_alignTop="@id/tvSentTo"
        android:layout_marginLeft="@dimen/margin_normal"
        android:layout_toRightOf="@id/tvSentTo"
        android:textColor="@color/black"
        android:textSize="@dimen/MediumTextSize"
        local:MvxBind="Text GiverFullName;
						Click ShowGiverProfileCommand" />
	<TextView
        android:id="@+id/tvRequestDate"
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:layout_alignLeft="@id/tvSentTo"
        android:layout_below="@+id/tvSentTo"
		android:textColor="@color/dark_gray"
        android:textSize="@dimen/SmallTextSize"
        local:MvxBind="Text RequestDate" />

	<giveandtake.droid.controls.ScrollViewWithMaxHeight
		android:id="@+id/svMyRequestDescription"
		android:layout_below="@+id/tvRequestDate"
		android:layout_width="match_parent"
		android:layout_height="wrap_content"
		android:layout_marginTop ="@dimen/large_margin"
		android:layout_marginBottom ="@dimen/large_margin"
		android:layout_marginLeft ="@dimen/default_margin"
		android:layout_marginRight ="@dimen/default_margin">
		<LinearLayout
			android:layout_width="match_parent"
			android:layout_height="wrap_content"
			android:paddingLeft = "@dimen/default_margin"
			android:paddingRight = "@dimen/default_margin">
			<TextView
				android:layout_width="match_parent"
				android:layout_height="wrap_content"
				android:textSize = "@dimen/MediumTextSize"
				android:fontFamily= "@font/sanfranciscodisplay_light"
				android:textColor="@color/dark_gray"
				local:MvxBind="Text MyRequestMessage;" />
		</LinearLayout>

	</giveandtake.droid.controls.ScrollViewWithMaxHeight>

	<Button
		android:layout_below="@+id/svMyRequestDescription"
        android:layout_width="@dimen/popup_request_button_width"
        android:layout_height="@dimen/popup_request_button_height"
        android:background="@drawable/cancel_button_bg"
        android:fontFamily="@font/sanfranciscodisplay_light"
        android:textAllCaps="false"
        android:textColor="@drawable/cancel_button_text"
		android:layout_centerInParent = "true"
		android:layout_marginBottom="@dimen/large_margin"
        local:MvxBind="Text BtnRemoveRequestTitle; Click RemoveRequestCommand" />
</RelativeLayout>