<?xml version="1.0" encoding="utf-8"?>
<RelativeLayout 
	xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:local="http://schemas.android.com/apk/res-auto"
    android:layout_width="fill_parent"
    android:layout_height="match_parent"
    android:gravity="center_horizontal"
    android:orientation="vertical"
    android:paddingTop="@dimen/tabBarIconSmallPadding"
	android:paddingBottom="@dimen/tabBarIconSmallPadding"
	android:paddingRight="@dimen/tabBarIconMediumPadding"
	android:paddingLeft="@dimen/tabBarIconMediumPadding"
	>
	<ImageView
		android:id="@+id/relative_layout"
		android:layout_width="wrap_content"
		android:layout_height="wrap_content"
		android:src="@drawable/tab_navigation_icon_notification"
		android:scaleType="centerInside">
	</ImageView>
	<TextView
        android:id="@+id/badge_notification"
        android:layout_width="@dimen/badgeBackgroundSize"
        android:layout_height="@dimen/badgeBackgroundSize"
		android:gravity="center"			
        android:background="@drawable/item_count"
        android:textColor="@color/white"
        android:textSize="@dimen/badgeTextSize"
        android:textStyle="bold"			
		local:MvxBind="Text NumberOfNotificationNotSeen"
        android:layout_alignTop="@id/relative_layout"
        android:layout_alignRight="@id/relative_layout"/>
</RelativeLayout>